.mb-12p {
  margin-bottom: 12px;
}
.px-12 {
  padding: 0 11px;
}
.pointer {
  cursor: pointer;
}
.ty-50 {
  transform: translate(0, -50%);
}
.t-50 {
  transform: translate(-50%, -50%);
}
.tx-50 {
  transform: translate(-50%, 0);
}
.link-icon-position {
  left: 36%;
}
